.rover-page{
 padding:40px;
}

.rover-banner{
 background:#8b0000;
 color:white;
 text-align:center;
 padding:40px;
 border-radius:12px;
}

.rover-content{
 background:white;
 padding:25px;
 margin-top:30px;
 border-radius:12px;
}