.leadersadult-page{
padding:40px;
}

.leadersadult-banner{
background:linear-gradient(135deg,#7b1fa2,#ce93d8);
color:white;
padding:50px;
text-align:center;
border-radius:12px;
margin-bottom:30px;
}

.leadersadult-layout{
display:grid;
grid-template-columns:1fr 450px;
gap:40px;
}

.leadersadult-content,
.commissioner-training{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.training-box{
background:#ef6c00;
color:white;
padding:16px;
border-radius:8px;
text-align:center;
font-weight:700;
}

.green{
background:#8bc34a;
color:black;
}

.arrow{
font-size:35px;
text-align:center;
margin:20px 0;
}