.guide-page{
 padding:40px;
}

.guide-banner{
 background:#6a1b9a;
 color:white;
 text-align:center;
 padding:40px;
 border-radius:12px;
}

.guide-content{
 margin-top:30px;
 background:white;
 padding:25px;
 border-radius:12px;
}